@use '../../styles/abstracts/_fonts' as *;
@use '../../styles/abstracts/colors' as *;

.income {
	width: 100%;
	background-color: $clr-background;

	h1 {
		padding: 2em;

    color: $clr-grey;
	}

	&__container {
		display: flex;
		align-items: center;
	}

	&__list {
		margin: 2em;
		padding: 2em;
		border-radius: 1.25rem;

		color: $clr-grey;
	}

	table {
		th {
			padding: 1em 0;
			text-align: left;
		}

		td {
			padding: 12px 15px;
		}
	}
}
