@use "../../styles/abstracts/colors" as *;
@use "../../styles/abstracts/fonts" as *;

.login {
	display: flex;

	width: 100%;
	background-color: $clr-background;

	color: $clr-typo;

	img {
		padding-top: 3em;
		margin-bottom: 10em;
	}

	form {
		display: flex;
    flex-direction: column;
		gap: 2em;

		width: 30vw;
		margin: 0 auto;

		h3 {
			font-size: $f-s-600;
			font-weight: $f-w-700;
			text-align: center;
		}

		label {
			margin-bottom: .7em;

			font-weight: $f-w-600;
		}

		input {
			width: 100%;
			padding: 2em 1em;
			border-radius: .5rem;

			font-size: $f-s-300;

			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		}
	}

	button {
		padding: .5em 0;
		background-color: $clr-terciary;
		border-radius: 2rem;

		font-size: $f-s-580;
		font-weight: $f-w-800;
		color: $clr-background;
	}

	&__password {
		margin-bottom: 4rem;
	}

	&__fields {
		width: 50%;
		height: 100vh;
	}

	&__graphic {
		width: 50%;
		height: 100vh;
		background-color: $clr-secondary;
	}

	&__error {
    width: 20em;
    margin: 0 auto;
    padding: 1em 0;
		background-color: $clr-danger;
		border-radius: 2rem;

		font-size: $f-s-440;
		font-weight: $f-w-600;
		color: $clr-background;
    text-align: center;

  }
}
