// COLOR VARIABLES
$clr-background: hsl(60, 10%, 85%);
$clr-secondary: hsl(164, 53%, 26%);
$clr-terciary: hsl(348, 43%, 28%);
$clr-danger: hsl(355, 75%, 53%);
$clr-typo: hsl(0, 0%, 20%);
$clr-grey: hsl(0, 0%, 27%);
