@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/fonts' as *;

.navbar {
	position: fixed;
	left: 0;
	bottom: 0;

	display: flex;
	justify-content: space-evenly;
	gap: 10rem;

	width: 100%;
	padding: 5em;
	background-color: $clr-background;

	a {
		font-size: $f-s-440;
		font-weight: $f-w-800;
	}

	&__signup {
		width: 10rem;
		padding: 0.6rem 1.3em;
		background-color: $clr-terciary;
		border-radius: 2rem;

		text-align: center;
		color: $clr-background;
	}

	&__login {
		width: 10rem;
		padding: 0.6rem 1.3em;
		border-radius: 2rem;

		text-align: center;
		color: $clr-terciary;

		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}
}

.navbar--active {
	width: 15.625rem;
	height: 100vh;
	padding: 1em;
	background-color: $clr-secondary;

	color: $clr-background;

	a {
		display: flex;
		align-items: flex-end;
		gap: 0.7em;

		margin-bottom: 0.7em;
	}

	button {
		margin: 2em auto;
		padding: 0.5em 0.5em;
		background-color: darkred;
		border-radius: 0.5em;
		color: white;
	}

	&__container {
		display: flex;
		flex-direction: column;
    justify-content: space-between;

    height: 90vh;
	}

	&__email {
		margin: 2em 0;
		padding: 1em 1em;
		background-color: $clr-background;

		text-align: center;
		color: $clr-secondary;
	}
}
