@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/fonts' as *;

.today {
	display: flex;
	flex-direction: column;

	width: 30vw;
	margin-top: 2em;
	margin-left: 2em;
	padding: 2em;
	background-color: $clr-secondary;
	border-radius: 1.25rem;

	color: $clr-background;

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		padding-bottom: 0.7rem;
		border-bottom: 0.03rem solid $clr-background;

		h1 {
			font-size: $f-s-1400;
		}

		h2 {
			bottom: 0;
			left: 0;

			font-size: $f-s-1000;
			font-weight: $f-w-100;
		}
	}

	&__date {
		display: flex;

		align-items: center;
		gap: 0.7em;
	}

	&__expenses {
		padding: 2em 0;
	}

	&__details {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__spent {
		h4 {
			text-align: center;
		}
	}
}
