@use "../../styles/abstracts/colors" as *;
@use "../../styles/abstracts/fonts" as *;

.today {
  display: flex;
  flex-direction: column;

  width: 30vw;
  margin-top: 2em;
  margin-left: 2em;
  padding: 2em;
  background-color: $clr-secondary;
  border-radius: 1.25rem;

  color: $clr-background;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: .7rem;
    border-bottom: .03rem solid $clr-background;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: .7em;
  }

  &__expenses {
    padding: 2em 0;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__spent {
    h4 {
      text-align: center;
    }
  }
}