@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/fonts' as *;

.category--budget {
  margin-top: 2em;
  padding: 1rem;
  background-color: $clr-secondary;

  color: $clr-background;
}