@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/fonts' as *;

.category--budget {
	display: flex;
	gap: 2em;

	margin-top: 2em;

	& > div {
		padding: 2em;
		background-color: $clr-secondary;

		color: $clr-background;
	}
}
